<p id="notice"><%= notice %></p>

<p>
  <strong>Player 1:</strong>
  <%= @player1.name %>
</p>

<p>
  <strong>Player 2:</strong>
  <%= @player2.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
